.mybutton{
    background-color: #007BFF;
    color: white;
  }
  .mybutton:hover {
    background-color: #0056b3;
  }
  .container {
    width: 500px;
  }
  
  .image-container {
    flex: 1;
  }
  
  .content-container {
    flex: 2;
    margin-left: 20px;
  }
  
  .home-logo {
    max-width: 100%;
    height: auto;
  }